
[Unit]
Description=Using to lear koa.js

[Service]
ExecStart=/build/app.js
Restart=always
User=nobody
# Note RHEL/Fedora uses 'nobody', Debian/Ubuntu uses 'nogroup'
Group=nobody  
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/build

[Install]
WantedBy=multi-user.target